{% extends 'layout/default.html.twig' %}

{% block header %}
  <header class="masthead text-center text-white">
    <div class="masthead-content">
      <div class="container px-5">
        <h1 class="masthead-heading mb-0">
        About
        </h1>
      </div>
    </div>
  </header>
{% endblock %}


{% block content %}
<br>
<div class="container px-5">
  <p>
    Lorem ipsum dolor sit amet. 33 totam quidem eos adipisci nulla et animi
    sequi ut dicta fuga. Ab sunt natus non nesciunt vero hic maiores excepturi.
    Aut totam eius sit impedit harum cum animi maxime et minus deserunt hic
    iusto voluptatem.

    Qui sequi officia et voluptatibus consectetur aut vitae facere aut voluptas
    alias nam consequatur magnam. Ea dolor nesciunt rem explicabo aliquam est
    obcaecati omnis.

    Sit galisum reiciendis rem galisum nobis sed ipsa voluptas qui corporis
    exercitationem sit unde dolorem in sequi perferendis. Ea dicta obcaecati aut
    fugit voluptates cum quia quia vel sunt ducimus. Ut voluptas repellat qui
    esse fuga sed voluptatem vero At dolores tenetur et officiis pariatur. Non
    recusandae possimus et distinctio modi cum temporibus molestiae sed quae
    totam qui dolorum nesciunt est quasi distinctio.
  </p>
  </div>
{% endblock %}
